# =====================
# IntelliJ IDEA
# =====================
.idea/           # каталог с настройками проекта IDEA
*.iml            # файлы модулей IDEA
out/             # папка сборки IDEA

# =====================
# Eclipse
# =====================
.project
.classpath
.settings/
bin/

# =====================
# NetBeans
# =====================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Логи, временные, прочее
# =====================
*.log
*.tmp
*.swp
*.bak

# =====================
# Системные
# =====================
.DS_Store
Thumbs.db
